---
layout: page
title: titles.resources
namespace: resources
permalink: /resources/
permalink_fr: /ressources/
category: resources
---

{% tf resources/content.md %}

<nav class="tabs is-centered">
  <ul>
  {% for category in site.data.resources_categories %}
  <li><a href="#{{ category }}">{% t resources.categories.{{ category }} %}</a></li>
  {% endfor %}
  </ul>
</nav>

  <div class="columns is-multiline">
  {% for app in site.data.resources %}
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="/assets/images/resources/{{ app.id }}.png">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><a href="{{ app.link }}" class="is-large">{{ app.name }}</a></p>
            <div class="subtitle is-6">
              {% for server in app.server %}
                <a href="{% tl {{ server }} %}" >
                <span class="tag is-grey">{% t titles.{{ server }} %}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="content">
          {% tf resources/{{ app.id }}.md %}
        </div>
      </div>

      <div class="card-footer">
        <a href="{{ app.link }}" class="card-footer-item">
        {% t resources.get %}
        </a>
        {% if app.pricing %}
          <span class="card-footer-item">
          <strong>{{ app.pricing }}</strong>
          </span>
        {% else %}
          <span class="card-footer-item">
          {% t global.free %}
          </span>
        {% endif %}
        {% if app.source %}
          <a href="{{ app.source }}" class="card-footer-item">
          {% t global.opensource %}
          </a>
        {% endif %}
      </div>

    </div>
  </div>
  {% endfor %}
  </div>

