<div class="container">
  <br />
<nav class="level">
  <div class="level-left">
    &nbsp;
  </div>

  <div class="level-right">
    <p class="level-item">
      {% t global.lang_pick %}
    </p>
    {% for lang in site.languages %}
      {% unless site.lang == lang %}
      <p class="level-item"><a href="{% tl {{ page.namespace }} {{ lang }} %}" >{% t langs.{{ lang }} %}</a></p>
        {% endunless %}
{% endfor %}
  </div>
</nav>
<br/>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>fed.ialis.me</strong> by <a href="https://soc.ialis.me/about/collective">the soc.ialis.me collective</a>
        and <a href="https://github.com/ialisme/fed.ialis.me/graphs/contributors">contributors</a>.
        <br />
        <small>
          Site source and content is <a href="http://unlicense.org">unlicensed</a> in the public domain.<br/>
          Kopimi, happy.
        </small>
      </p>
      <p>
        <a class="icon" href="https://github.com/ialisme/fed.ialis.me">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

<script src="{{ "/assets/js/jquery-2.2.0.min.js" | prepend: site.baseurl_root }}"></script>
<script src="{{ "/assets/js/bulma.js" | prepend: site.baseurl_root }}"></script>
<script src="{{ "/assets/js/site.js" | prepend: site.baseurl_root }}"></script>
