<div class="container">
  <br />
<nav class="level">
  <div class="level-left">
    &nbsp;
  </div>

  <div class="level-right">
    <p class="level-item">
      {% t global.lang_pick %}
    </p>
    {% for lang in site.languages %}
      {% unless site.lang == lang %}
      <p class="level-item"><a href="{% tl {{ page.namespace }} {{ lang }} %}" >{% t langs.{{ lang }} %}</a></p>
        {% endunless %}
{% endfor %}
  </div>
</nav>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>fed.ialis.me</strong> by <a href="https://soc.ialis.me/about/collective">the soc.ialis.me collective</a>
        and <a href="https://github.com/ialisme/fed.ialis.me/graphs/contributors">contributors</a>.
        <br />
        <small>
          The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.<br />
          The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        </small>
      </p>
      <p>
        <a class="icon" href="https://github.com/ialisme/fed.ialis.me">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

