<header class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a href="{% tl index %}" class="nav-item is-tab  {% if page.category == 'index' %}is-active{% endif %}">
        fed.ialis.me
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu" id="main-menu">
      <a href="{% tl guides %}" class="nav-item is-tab {% if page.category == 'guides' %}is-active{% endif %}">
        {% t categories.guides %}
      </a>
      <a href="{% tl instances %}" class="nav-item is-tab {% if page.category == 'instances' %}is-active{% endif %}">
        {% t categories.instances %}
      </a>
      <a href="{% tl tools %}" class="nav-item is-tab {% if page.category == 'tools' %}is-active{% endif %}">
        {% t categories.tools %}
      </a>
      <a href="{% tl clients %}" class="nav-item is-tab {% if page.category == 'clients' %}is-active{% endif %}">
        {% t categories.clients %}
      </a>
      <a href="{% tl news %}" class="nav-item is-tab {% if page.category == 'news' %}is-active{% endif %}">
        {% t categories.news %}
      </a>
      <span class="nav-item is-tab">
        <a href="{% tl join %}" class="button is-success is-bold">
          <span>{% t titles.join %}</span>
        </a>
      </span>
    </div>
  </div>
</header>
