<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a href="/" class="nav-item">
        fed.ialis.me
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a href="/" class="nav-item is-active">
        Home
      </a>
      <a class="nav-item">
        Guides
      </a>
      <a href="/instances" class="nav-item">
        Instances
      </a>
      <a href="/tools" class="nav-item">
        Tools
      </a>
      <a href="/clients" class="nav-item">
        Clients
      </a>
      <span class="nav-item">
        <a href="/join-the-fediverse/" class="button is-success is-bold">
          <span>Join The Fediverse</span>
        </a>
      </span>
    </div>
  </div>
</header>
