.mg-top-10 {
  margin-top: 10px;
}

#masthead, #smallhead {
  background: url('/assets/images/header_outline.png') repeat-x bottom left, linear-gradient(rgb(48,68,76), #7599aa 40%) !important
}
#masthead .hero-body {
  height: 240px;
  padding: 1.5rem 1.5rem;
}

#smallhead .hero-head {
}
#smallhead .hero-body {
  height: 160px;
  padding: 1.5rem 1.5rem;
}
#smallhead .hero-body .title, #smallhead .hero-body .subtitle {
  background-color: rgba(48,68,76,0.7);
  padding: 5px;
  display: inline-block
}
#smallhead .hero-body .breadcrumbs {
  background-color: rgba(48,68,76,0.7);
  padding: 5px;
  display: inline-block
}

#main-menu {
  flex: 4;
}

.message-translation {
  display: none;
}

nav.tags {
  line-height: 2.3em;
}

.card-directory {
  height: 230px;
}
.card-directory > .card-content > .media > .media-content > p.title {
  margin: 0;
  margin-bottom: 0.5em;
}
.card-directory > .card-content > .media > .media-content > p.title a {
  font-size: 70%;
  text-overflow: ellipsis;
  line-height: 1;
  vertical-align: super;
}
.card-directory > .card-content > .media > .media-content > p.subtitle {
  font-size: 70%;
}

.card-directory > .card-content > .content > div.description {
  font-size: 80%;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 1.05em;        /* fallback */
   max-height: 4em;
   margin-bottom: 1em
}
