---
layout: page
---

{% tf {{ page.namespace }}/content.md %}

<nav class="categories has-text-centered tags">
  <a  class="tag is-medium {% if page.tag == 'all' %} is-info{% else %}is-light{% endif %}" href="{% tl directory %}">{% t directory.tags.all %}</a>
  {% for tag in site.data.directory_tags %}
  <a class="tag is-medium {% if page.tag == tag %} is-info{% else %}is-light{% endif %}" href="{% tl directory/{{tag}} %}">{% t directory.tags.{{ tag }} %}</a>
  {% endfor %}
  <br/>
  <a class="tag is-medium is-light" href="#">All Languages</a>
  {% for lang in site.directory_languages %}
  <a class="tag is-medium {% if page.lang == lang %} is-light{% else %}is-white{% endif %}" href="#">{% t langs.{{ lang }} %}</a>
  {% endfor %}
</nav>
<br/><br/>
  <div class="columns is-multiline">
  {% for account in site.data.directory %}
    {% unless page.tag == "all" %}
    {% unless account[1].tags contains page.tag %}
    {% continue %}
    {% endunless %}
    {% endunless %}
  <div class="column is-one-third lang-{{ account[1].lang }}" id="card-{{ account[0] }}">
    <div class="card card-directory">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <a href="{% directory_user_profile {{account[0]}}%}" class="is-large">
                <img src="{% directory_user_avatar {{account[0]}}%}" title="{{ account[0] }}" alt="{{ account[0] }} avatar">
              </a>
            </figure>
          </div>
          <div class="media-content">
            <p class="title">
              <a href="{% directory_user_profile {{account[0]}}%}">{{ account[1].name }}</a>
            </p>
            <p class="subtitle">
              @{{ account[0] }}
            </p>
          </div>
        </div>
        <div class="content">
          <div class="description">{% directory_user_description {{account[0]}}%}</div>
          <a href="{% tl directory/lang-{{ account[1].lang }} %}" >
            <span class="tag is-white">{% t langs.{{ account[1].lang }} %}</span>
          </a><br />
          {% for tag in account[1].tags %}
            <a href="{% tl directory/{{ tag }} %}" >
              <span class="tag is-grey">{% t directory.tags.{{ tag }} %}</span>
            </a>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
  {% endfor %}
  </div>

