<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <section  id="masthead" class="hero is-dark is-black is-bold">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
      {% include header_menu.html %}
    </div>
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          {% t index.title %}
        </h1>
        <h2 class="subtitle">
          {% t index.subtitle %}
        </h2>
      </div>
    </div>
  </section>

  {{ content }}


    {% include footer.html %}

  </body>

</html>
